{% extends "base.html" %}


{% block title %}
    About-Paws Rescue Center
{% endblock title %}



{% block content %}
    {% block heading %}About Us:{% endblock heading %}
    <p>
        We are a non-profit organization working as
        an animal rescue. We aim to help you connect with 
        the purrfect furbaby for you! The animals you find 
        on our website are rescued and rehabilitated animals.
        Our mission is to promote the ideology "adopt, don't
        hop"!
    </p>
{% endblock content %}




